<div id="<%= dom_id course_content %>">
  <p>
    <strong>Course:</strong>
    <%= course_content.course_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course_content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_content.description %>
  </p>

</div>
