<% content_for :title, "Editing course content" %>

<h1>Editing course content</h1>

<%= render "form", course_content: @course_content %>

<br>

<div>
  <%= link_to "Show this course content", @course_content %> |
  <%= link_to "Back to course contents", course_contents_path %>
</div>
