<% content_for :title, "New course content" %>

<h1>New course content</h1>

<%= render "form", course_content: @course_content, form_url: course_course_contents_path, form_method: :post %>

<br>
<br>

<div>
  <%= link_to "Back to course contents", course_course_contents_path(course_id: @course.id) %>
</div>
